*{
    box-sizing: border-box;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ol li{
    list-style-type: none;
    margin: 40px 30px 0 0;
}
nav .text ol{
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
}
nav .samsung{
    margin-top: 44px;
    margin-left: 30px;
}
nav .text ol .lines img{
    margin-top: -14px;
}
header{
    background: url('image 1.png');
    height: 1080px;
    background-position: center ;
    background-repeat: none;
    background-size: cover;
    position: relative;
}
header h1{
    position: absolute;
    left: 157px;
top: 463px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 70px;
line-height: 105px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #000000;
}
header .arrow{
    position: absolute;
    right: 30px;
    bottom: 50px;
}
.two{
    display: flex;
    justify-content: space-between;
    height: 486px;
}
.two .left{
    background: url('image\ 5.png');
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    width: 50%;
}
.two .right{
    background: url('image\ 6.png');
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    width: 50%;
    position: relative;
}
.two .left p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;
/* or 120% */

display: flex;
align-items: center;

color: #FFFFFF;
width: 298px;
height: 72px;
margin: 34px 0 0 42px;
}
.two .right p{
    width: 309px;
height: 72px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;
position: absolute;
display: flex;
align-items: center;
text-align: right;
color: #FFFFFF;
top: 34px;
right: 30px;
}
.the{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
/* identical to box height */

display: flex;
align-items: center;

color: #000000;
margin: 30px 40px;
}
.card-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-section .top{
    display: flex;
    justify-content: space-between;
    background-color: rgb(233, 233, 232);
    
}
.card-section .top p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 23px;
line-height: 34px;
color: #000000;

}
.card-section .card{
    width: 25%;
    text-align: center;

    font-family: 'Poppins';
font-style: normal;
    font-weight: 600;
font-size: 23px;
line-height: 34px;
display: flex;
align-items: center;
text-align: center;
flex-direction: column;
justify-content: space-between;
color: #000000;
padding-bottom: 75px;

}
.card-section .card img{
    margin-bottom: -75px;
}
.card-section .card:hover{
    background-color: rgb(88, 51, 192);
    transition: 0.5s;
}
.card-section .card:hover{
    color: white;
}
.card-section .bott{
    display: flex;
    justify-content: space-between;
    
}
footer{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
footer .above span{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: #999999;
margin-right: 37px;


}
footer .above{
    margin: 44px 0 0 30px;
}
footer .above{
    color: #999999;
    margin-bottom: 88px;
}
footer i{
    margin-right: 31px;
}

footer .bottom{
    display: flex;
    margin-bottom: 31px;
    margin-left: 30px;
}
footer .bottom .down{
    display: flex;
    margin-top: 8px;
} 
footer .bottom .right{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
color: #666666;
}
footer .bottom .right{
    margin-left: 35px;
}
footer .bottom .right p{
    margin:0 15px 0px 15px;
}